body{
    width: 1440px;
}
body * ,h1,h2,h3,p,a{
  
    font-family:'syne', sans-serif !important;
  }
  h1{
    font-family: Syne;
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: brown;
  
    
  }
 
 
 
 
  h2{
    font-family: Syne;
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 letter-spacing: 0em;
 text-align: center;
 
  }
 
  h3{
    font-family: Syne;
 font-size: 20px;
 font-weight: 700;
 line-height: 24px;
 letter-spacing: 0em;
 text-align: center;
  }
 
  h5{
    font-family: Syne;
 font-size: 20px;
 font-weight: 800;
 line-height: 24px;
 letter-spacing: 0em;
 text-align: center;
 color: blue;
 
  }
 
  p{
    font-family: Syne;
 font-size: 20px;
 font-weight: 400;
 line-height: 24px;
 letter-spacing: 0em;
 text-align: center;
  }
 




.container{
   /* display:flex;
    justify-content: center;*/
    text-align: center;
}
.card{
border: solid 1px;
}
.card-body{

}
.card-title{

}
.card-text{

}
.btn{

} 
.btn-primary{

}